.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.justify-content-end {
  justify-content: end;
}
.img-avatar {
  object-fit: cover;
  min-width: 200px;
  height: 200px;
  border-radius: 50%;
}
