$text-white: #fff;

$bg-white: #fff;
$bg-gray: #f0f2f5;

$dark-100: #000000;
$dark-87: #252121;
$dark-80: #333333;
$dark-54: #777575;
$dark-39: #9b9b9b;
$dark-26: #bebdbd;
$dark-20: #ccc;
$dark-12: #e1e0e0;
$dark-9: #e8e8e8;

$honda-red: #cc0000;
$honda-red-hover: #d63333;
$system-red: #e52a00;
$honda-red-light: #f9dcda;
$honda-red-light-hover: #fbeae9;

$active: #1485cc;

$btn-hover: #474747;
$danger-hover: #ea5533;

$pulldown-item: #f5f5f5;
$list-item: #b7b7b7;

$link: #3851d9;
$link-hover: #6074e1;
